.expertise-container{
    padding: 100px 30px;
}
.expertise-container h6{
    font-weight: 600;
    text-transform: capitalize;
}
.expertise-container h3{
    font-weight: 600;
    text-transform: capitalize;
}
.expertise-container p{
    font-size: 16px;
    opacity: 0.8;
}
.expertise-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.expertise-section h2{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 20px;
}
.logo-div{
    width: 220px;
    background-color: #f5fcff !important;
}
.logo-div:hover{
    border-bottom: 3px solid #226ebd;
}
.logo-div img{
    width: 30px;
    height: 30px;
}
.card-div{
    margin-top: 10px;
}
.code-icon{
    width: 40px;
    background-color: #fff;
    color: #79c2e1;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #cbcbcb;
    margin-bottom: 15px;
}
/*Tablet*/
@media screen and (min-width: 769px) and (max-width: 1023px){
    .logo-div img{
        display: inline;
    }
}
/*mobile*/
@media  screen and (max-width: 768px) {
    .expertise-container{
        padding: 80px 0;
    }
    .expertise-container h6{
        font-size: 16px;
    }
    .expertise-container h3{
        font-size: 24px;
    }
    .expertise-container p,.expertise-section h2{
       font-size: 14px;
    }
    .logo-div{
       min-width: 150px !important; 
    }
    .logo-div img{
        display: inline;
        width: 25px;
        height: 25px;
    }
}