.portfolio-container{
    padding: 50px 0;
}
.portfolio-container h6{
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.portfolio-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portfolio-section h3{
    font-weight: 600;
    text-transform: capitalize;
}
.github-btn span{
    font-size: 14px;
    text-transform: capitalize;
}
.gitAcc-link{
    color: #fff;
    text-decoration: none;
}
.gitAcc-link:hover{
    color: #191919;
}
.project-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    margin-top: 50px;
}
.card-content{
    background-color: #f5fcff;
}
.link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #226ebd;
}
.cardImage{
    opacity: 0.3;
}
/*Tablet*/
@media screen and (min-width: 769px) and (max-width: 1023px){
    .project-div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .project-div .card-width{
        max-width: 100%;
    }
}
/*mobile*/
@media screen and (max-width: 768px){
    .portfolio-container h6{
        font-size: 12px;
    }
    .portfolio-section{
        align-items: center;
    }
    .portfolio-section h3{
        font-size: 16px;
    }
    .github-btn span{
        font-size: 12px;
    }
    .project-div{
        grid-template-columns: 1fr;
    }
    .project-div .card-width{
        max-width: 100%;
    }
}