.achievement-container{
    padding: 50px 0;
}
.achievement-container h3{
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 50px;
}
.certi-img-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.certi-one,.certi-two,.certi-three{
    width: 320px;
    height: 200px;
}
.certi-one img,.certi-two img,.certi-three img{
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .certi-img-div {
        gap: 20px;
    }
    .certi-one img,.certi-two img,.certi-three img{
        display: block;
    }
}
@media screen and (max-width: 768px){
    .certi-img-div{
        flex-direction: column;
        gap: 20px;
    }
    .certi-one img,.certi-two img,.certi-three img{
        display: block;
    }
    .achievement-container h3{
        font-size: 24px;
    }
}
@media screen and (max-width: 375px){
    .certi-one,.certi-two,.certi-three{
        width: auto;
    }
}