.home-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #f5fcff;
}
.introduce-div{
    padding-top: 7rem;
    margin-left: 6.25rem;
}
.introduce-div h5{
    font-size: 16px;
    font-weight: 600;
}
.introduce-div h1{
    text-transform: capitalize;
    font-weight: 600;
}
.introduce-div h1 span{
    color: #226ebd;
}
.introduce-div p{
    width: 75%;
    margin: 10px 0px 30px 0px;
}
.img-div{
    padding-top: 5rem;
    margin: 0px 6.25rem 20px 0px;
}
.img-div img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    .home-container{
        display: flex;
        flex-direction: column-reverse;
        margin-left: -3rem !important;
    }
    .img-div img{
        display: block;
        width: 200px;
        height: 200px;
        margin-left: 37.5rem;
    }
    .introduce-div{
        margin-top: -10rem;
    }
    .introduce-div h5{
        font-size: 16px;
    }
    .introduce-div h1{
        font-size: 28px;
    }
    .introduce-div p{
        font-size: 16px;
        width: 90%;
    }
    .getInTouch-btn span{
        font-size: 14px;
    }

}

/*mobile*/
@media screen and (max-width: 768px){
    .home-container{
        display: flex;
        flex-direction: column-reverse;
        margin-left: -4rem;
    }
    .img-div img{
        display: block;
        width: 100px;
        height: 100px;
        margin-left: 21.875rem;
    }
    .introduce-div{
        margin-top: -9rem;
    }
    .introduce-div h5{
        font-size: 14px;
    }
    .introduce-div h1{
        font-size: 24px;
    }
    .introduce-div p{
        font-size: 14px;
        width: 90%;
    }
    .getInTouch-btn span{
        font-size: 12px;
    }
}