
.detailInfo-div img{
    width: 100%;
    min-height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.detailsInfo-overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 29.25rem !important;
    background-color: rgba(0,0,0,0.3);
}
.detailsInfo-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 8rem 0px 8rem;
}
.detailsInfo-overlay span{
    display: flex;
    margin: -20px auto 20px 0px;
    color: #f5f5f5;
    font-size: 50px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    padding: 8px;
}
.detailsInfo-overlay h1,h4{
    color: #f5f5f5;
}
.detailsInfo-overlay h4{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}
.detailImage-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: #f5fcff;
    gap: 50px;
    padding: 60px 6.25rem 60px 6.25rem;
}
.single-img{
    margin-bottom: 30px;
}
.single-img h3{
    text-align: center;
    margin-bottom: 50px;
}
.single-img img{
    width: 500px;
    height: 300px;
    border-radius: 4px;
    border: 1px solid rgb(230, 230, 230)
}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    .detailInfo-div img{
        display: inline;
    }
    .detailsInfo-overlay{
        margin-top: -4px;
    }
    .detailsInfo-overlay span{
        font-size: 20px;
        padding: 5px;
        margin-left: -6rem;
    }
    .detailsInfo-overlay h1{
       min-width: 300px !important;
       text-align: center;
    }
    .detailsInfo-overlay h4{
       font-size: 16px;
    }
    .detailImage-div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: -20px;
    }
    .single-img img{
        display: inline;
        width: 300px;
        height: 200px;
    }
}
/*mobile*/
@media screen and (max-width: 768px){
    .detailInfo-div img{
        display: inline;
    }
    .detailsInfo-overlay{
        margin-top: -10px;
    }
    .detailsInfo-overlay span{
        font-size: 20px;
        padding: 5px;
        margin-left: -6rem;
    }
    .detailsInfo-overlay h1{
       font-size: 25px;
       min-width: 300px !important;
       text-align: center;
    }
    .detailsInfo-overlay h4{
        margin: 20px -6rem 0px -6rem;
        font-size: 14px;
    }
    .detailImage-div{
        display:flex;
        flex-direction: column;
        margin-left: -30px;
    }
    .single-img img{
        display: inline;
        width: 300px;
        height: 200px;
    }
}