.logo-img {
  cursor: pointer;
}

img {
  width: 25px;
  height: 25px;
}
.active {
  color: #226ebd;
  background-color: red;
}
.navLinkSp {
  text-decoration: none;
  color: #000;
}
.navLinkSp:hover {
  opacity: 0.8;
}

.css-17dxyje {
  justify-content: end;
}

@media screen and (max-width: 900px) {
  .logo-img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .css-19r6kue-MuiContainer-root {
    padding: 0 20px !important;
  }
  .css-kf45sl-MuiButtonBase-root-MuiIconButton-root {
    padding: 0 !important;
  }
}
