.footer-container {
  background-color: #f5f5f5;
}
.footer-container h3 {
  font-size: 14px;
  font-style: oblique;
  margin-right: 30px;
  margin-top: 5px;
}
.social-img {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}
.footer-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0;
}
.footer-left-div {
  display: flex;
  justify-content: space-between;
}
.footer-link-div {
  display: unset !important;
  padding: 0 !important;
  margin: 0 !important;
  width: fit-content;
  height: fit-content;
  color: #191919 !important;
  background-color: transparent !important;
}
.footer-link:hover {
  color: #226ebd;
  background-color: transparent !important;
}
.contact-icon-div {
  margin-left: auto;
}
.ph-num,
.email-txt {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #191919;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.ph-num {
  display: block;
  padding-left: 25px;
  margin-bottom: 10px;
}

.ph-num::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(../../assets/phone.png) no-repeat;
  background-size: 100% 100%;
}

.email-txt {
  display: block;
  padding-left: 25px;
}

.email-txt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background: url(../../assets/mail.png) no-repeat;
  background-size: 100% 100%;
}
.social-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .footer-left-div {
    flex-direction: column;
  }
}
